
@{
    ViewBag.Title = "Index";
}
<div class=" container">
    <h2 class="mt-3 text-center">Visite Comune</h2>

    <button id="btnComune" class="btn btn-primary d-block mx-auto mb-2">Visite comune</button>

    <div id="append">

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnComune").click(function () {
                $.ajax({
                    method: "POST",
                    url: "ComuneVisite",
                    success: function (data) {
                        console.log(data)
                        $("#append").html("")
                        var licurrent = " <div class='d-flex flex-column mt-4'>" +
                            "<table class='table table-bordered border-dark'>" +
                            "<thead>" +
                            "<tr class='bg-info'>" +
                            "<th scope='col'>Nome Animale</th>" +
                            "<th scope='col'>Tipologia</th>" +
                            "<th scope='col'>Data inizio ricovero</th>" +
                            "<th scope='col'>Descrizione</th>" +
                            "</tr></thead><tbody>";
                        $.each(data, function (index, v) {
                            licurrent +=
                                "<tr><td scope='row'>" + v.NomePaziente + "</td>" +
                                "<td>" + v.Tipologia + "</td>" +
                                "<td>" + v.DataInizio + "</td>" +
                            "<td>" + v.DescrizioneVisita + "</td></tr>";
                        });
                        licurrent +="</tbody></table></div>"
                            $("#append").append(licurrent)
                    }
                })
            })
        })


    </script>
    
    
    }