 Set padding to keep content from hitting the edges 
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}




body {
    font-size: 1.5em !important
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
        height: 50vh !important;
    }
}

.navbar .nav-link {
    color: white !important;
}

nav {
    height: 170px !important;
    background-color: rgb(37, 150, 190);
}


.fixed-height-card {
    height: 750px!important;
    width: 350px !important;
    overflow: auto;
   
}

#imgcontainer{
    width:100%
}


#imgheader {
    max-width: 90%;

   position: relative;
}

    #imgheader::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 1) 100%), 
                    linear-gradient(to right, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 1) 100%); 
        pointer-events: none; 
    }

#cardheader {
    text-align: center;
    border: solid 3px;
    border-color: rgb(37, 150, 190)
}


.cardheadertrio {
    text-align: center;
    
    height: 660px !important
}

