@model ClinicaVeterinaria.Models.Utenti


<main class="p-5">

    <header>
        <div id="imgcontainer" class="d-flex flex-row flex-wrap">
            <div class="col-l-12 col-xl-12 col-xxl-6 col-lg-12">
                <div id="imgheader" class="mt-5">
                    <img src="~/Content/ImgsLayout/canecarosello.jpg" class="d-block w-100" alt="Wild Landscape" />
                </div>
            </div>
            <div class="col-l-12 col-xl-12 col-xxl-6 col-lg-12">
                <div class="mt-5">
                    <div id="cardheader" class="card">
                        <div class="card-body">
                            <h2 class="card-title">Clinica Veterinaria Animal House</h2>
                            <p class="card-text">Il tuo partner fidato per la salute e il benessere dei tuoi amici a quattro zampe</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap mt-5">
                    <div class="col-xl-4 col-lg-12 mt-5">
                        <div class="cardheadertrio d-flex flex-column justify-content-between" style="height: 100%;">
                            <div>
                                <h2 class="card-title mb-auto">Veterinaria di base e specialistica</h2>
                                <img src="~/content/ImgsLayout/Ecografia.png" alt="Logo" style="max-height:240px; margin-bottom: auto;">
                            </div>
                            <p class="card-text">Nella nostra clinica puoi trovare servizi di diagnosi, cura, prevenzione, degenza assistita e prodotti farmacologici per tutte le tipologie di animali domestici</p>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-12 mt-5">
                        <div class="cardheadertrio d-flex flex-column justify-content-between" style="height: 100%;">
                            <div>
                                <h2 class="card-title mb-auto">Veterinaria d'urgenza e preventiva</h2>
                                <img src="~/content/ImgsLayout/vaccini.png" alt="Logo" style="max-height:240px; margin-bottom: auto;">
                            </div>
                            <p class="card-text">Un team di veterinari  specializzati in ambiti differenti per visite specialistiche rivolte a tutti gli animali domestici in ogni fase della loro vita.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 mt-5">
                        <div class="cardheadertrio d-flex flex-column justify-content-between" style="height: 100%;">
                            <div>
                                <h2 class="card-title mb-auto">Servizi di Salute e di Benessere</h2>
                                <img src="~/content/ImgsLayout/PianoSalute.png" alt="Logo" style="max-height:240px; margin-bottom: auto;">
                            </div>
                            <p class="card-text">I cani, sia cuccioli che adulti, hanno accesso a servizi di educazione comportamentale che si sviluppano in sessioni di lavoro individuali o di gruppo.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>


    <hr class="my-5" style="color: rgb(37, 150, 190); " />

    <main class="mt-5 ">
        <div class="container ">
            <!--Section: Content-->
            <section>
                <div class="row">
                    <div class="col-md-6 gx-5 mb-4">
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/Content/ImgsLayout/canemalato.jpg" class="img-fluid" />

                        </div>
                    </div>

                    <div class="col-md-6 gx-5 mb-4">
                        <h2 class="text-center"><strong>Hai smarrito il tuo animale? </strong></h2>

                        <p class="fs-3 my-5 text-center">Inserisci il numero di microchip e controlla se è ricoverato in una delle nostre cliniche</p>
                        <p class="fs-3 text-center ">Clicca qui e segui la procedura</p>
                        <div class="text-center">
                            <button class="nav-item btn btn-primary ">
                                @Html.ActionLink("Avvia Ricerca", "RicercaAnimale", "Home", null, new { @class = "nav-link" })
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->

            <hr class="my-5" style="color: rgb(37, 150, 190); " />

            <!--Section: Content-->
            <section class="text-center">
                <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>

                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make
                                    up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: Content-->

            <hr class="my-5" style="color: rgb(37, 150, 190); " />


            <div id="recensioniCarosello" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-around">
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-around">
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image2" class="card-img-top rounded-circle" alt="immagine2">
                                <div class="card-body">
                                    <p class="card-text">Testo2</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>
                            </div>
                            <div class="card" style="width: 160px;">
                                <img src="path_to_image" class="card-img-top rounded-circle" alt="immagine1">
                                <div class="card-body">
                                    <p class="card-text">Testo1</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Aggiungi altri "carousel-item" se hai più di 10 recensioni -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#recensioniCarosello" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Precedente</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#recensioniCarosello" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Successivo</span>
                </button>
            </div>



</main>
    <!--Main layout-->



</main>