
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center mt-5"><strong>LA MISSION DI ANIMAL HOUSE </strong></h1>
<h2 class="text-center mb-5 h2index">cosa vogliamo?</h2>
<section class="d-flex">
    <div id="demo" class="carousel slide mt-5 te" data-ride="carousel" style="width:75%">

        <!-- Indicators (pallini sotto il carosello) -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- Slides del carosello -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/ImgsLayout/esigenze.jpg" alt="foto cani" style="width:80%">
                <div class="carousel-caption">
                    <div class="carosello-chisiamo">
                        <h2><strong>Vogliamo</strong></h2>
                        <p>Soddisfare qualsiasi tua esigenza che riguardi la salute ed il benessere del tuo animale</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/ImgsLayout/famiglia.jpg" alt="foto famiglia" style="width:80%">
                <div class="carousel-caption">
                    <div class="carosello-chisiamo">
                        <h2><strong>Vogliamo</strong></h2>
                        <p>Che tu e il tuo animale vi sentiate parte di una famiglia a cui possiate affidarvi in caso di emergenza</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/ImgsLayout/riparo.jpg" alt="foto gatto" style="width:80%">
                <div class="carousel-caption">
                    <div class="carosello-chisiamo">
                        <h2><strong>Vogliamo</strong></h2>
                        <p>Che chi amiamo stia bene nel tempo, dando risposta ad ogni suo bisogno</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controlli (frecce a sinistra e a destra) -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    
    <div id="contatti" class=" mt-5">
        <div class="text-center">
            <img style="width:80%" src="~/content/ImgsLayout/logosfondoblu.png" alt="Logo">
        </div>
        <hr />
        <h3 class="mb-3"><strong>Contatti e Riferimenti</strong></h3>
        <p> Visite: 9.00 - 19.00</p>
        <hr />
        <p> Via Leone il cane Fifone - 30034  Altrove (Kansas) </p>
        <hr />

        <p> 045 89 627 948</p>
        <hr />

        <p><u> Richiedi Appuntamento</u></p>
    </div>     
   
   

</section>
<section style="width:90%; margin:auto; padding:5%">
    <div>
        <p class="my-3">
        <h3><strong>CHI SIAMO</strong></h3>
        Da più di 30 anni la Clinica Veterinaria Animal House offe servizi di eccellenza in tutte le discipline specialistiche, avvalendosi di uno staff medico di alta professionalità e formazione:
        Urgenze, visite o consulenza, in cosa possiamo aiutarti?
        <p class="my-3">
        <h3><strong>URGENZA?</strong></h3>
        Vieni direttamente in Clinica, 24 ore su 24. Abbiamo un servizio di Pronto Soccorso attivo giorno e notte, 365 giorni l’anno.
        </p>
        <p class="my-3">
            <h3><strong> PRIMA VISITA O CONTROLLO?</strong></h3>
            Per le prime visite, visite di controllo o consulenze è attivo 7 giorni su 7 un servizio di Medicina Generale, con medici veterinari di grande esperienza che vi sapranno aiutare ed indirizzare, se necessario, ai servizi specialistici. Prendete appuntamento chiamando allo 045 89 627 948 o scrivendo a animalhouse@clinicavet.com.
        </p>
        <p class="my-3"> 
        <h3><strong>VISITA SPECIALISTICA?</strong></h3>
        Abbiamo servizi specialistici per ogni disciplina. Fatti consigliare dal tuo veterinario di fiducia o chiedici consiglio scrivendo a animalhouse@clinicavet.com.
        </p>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>