@{
    ViewBag.Title = "Servizi Offerti";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-5">DIAGNOSTICA PER IMMAGINI</h5>
                    <img src="./content/ImgsLayout/logosenzasfondo.png" alt="Logo" style="max-height:140px;">

                    <p class="card-text mt-5">Ecografia e Radiologia. In diagnostica, ecografia e radiologia permettono di ottenere immagini chiare e definite dei diversi apparati grazie a strumenti moderni e sicuri.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">LABORATORIO</h5>
                    <p class="card-text">Diagnostica di laboratorio. Le analisi veterinarie comprendono esami del sangue e delle urine, esami citologici, test sierologici e monitoraggi terapeutici.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body"> 
                    <h5 class="card-title text-center">MEDICINA GENERALE</h5>
                    <p class="card-text">Certificazioni di buona salute. Il certificato di buona salute è un documento firmato e timbrato dal veterinario che attesta il buono stato di salute del pet nel giorno in cui viene effettuata la visita.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">MEDICINA GENERALE</h5>
                    <p class="card-text">Chirurgia generale. Il servizio di chirurgia generale comprende procedure minori, come ad esempio castrazione / sterilizzazione, nodulectomie e prelievi bioptici.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">MEDICINA PREVENTIVA</h5>
                    <p class="card-text">Piani Salute. Il Piano Salute è un programma annuale di visite, esami di base, controlli personalizzati e trattamenti per il benessere del tuo pet.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">DERMATOLOGIA</h5>
                    <p class="card-text">Il servizio comprende diagnosi e trattamento delle malattie cutanee, auricolari e allergologiche di cani e gatti con l’esecuzione di esami specifici..</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">GASTROENTEROLOGIA</h5>
                    <p class="card-text">
                        La gastrologia veterinaria studia e tratta le patologie dell’apparato gastroenterico (esofago, stomaco, pancreas e fegato).


                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">ODONTOSTOMATOLOGIA</h5>
                    <p class="card-text">L’odontostomatologia veterinaria diagnostica e tratta tutte le patologie del cavo orale, a partire dalla cura di denti e gengive.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">LABORATORIO</h5>
                    <p class="card-text">Diagnostica di laboratorio. Le analisi veterinarie comprendono esami del sangue e delle urine, esami citologici, test sierologici e monitoraggi terapeutici.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">OFTALMOLOGIA</h5>
                    <p class="card-text">I servizi di oftalmologia veterinaria si concentrano sulla prevenzione, diagnosi e cura delle palpebre e della camera anteriore.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">ORL</h5>
                    <p class="card-text">L’otorinolaringoiatria si occupa dello studio della diagnosi e cura delle patologie che interessano l’orecchio, il naso e la gola</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">VACCINAZIONI</h5>
                    <p class="card-text">La vaccinazione è fondamentale per proteggere gli animali domestici da malattie infettive e contagiose che potrebbere essere molto pericolose per la salute. I protocolli vaccinali delle cliniche Ca’ Zampa seguono le linee guide dettata dalla WSAVA (World Small Animal Veterinary Association).</p>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">VISITE A DOMICILIO</h5>
                    <p class="card-text">Servizi veterinari disponibili presso il domicilio: visite, vaccini e profilassi, ecofast, esami del sangue, terapie, microchip.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">VISITE CLINICHE</h5>
                    <p class="card-text">La medicina generale si occupa del benessere complessivo del pet di tutte le età. L’obiettivo delle visite cliniche è quello di risolvere i piccoli e normali problemi di salute che possono colpire gli animali domestici.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card fixed-height-card">
                <div class="card-body">
                    <h5 class="card-title text-center">PIANI SALUTE</h5>
                    <p class="card-text">Il Piano Salute è un programma annuale di visite, esami di base, controlli personalizzati e trattamenti per il benessere del tuo pet.</p>
                </div>
            </div>
        </div>
    </div>
</div>