@model ClinicaVeterinaria.Models.Prodotti 
@{
    ViewBag.Title = "RicercaMedicinale";
}

<div class="row row-cols-2 container justify-content-center m-auto mt-3 text-center">
    <div class="col">
        <h2>Ricerca vendite per data</h2>
        <input type="date" name="DataVendita" id="Input" class="form-control mt-3 mx-auto" />
        <button class="btn btn-primary" id="Cerca">Cerca</button>

        <div class="container">

            <ul class="mt-2" id="List">
            </ul>
        </div>
    </div>
    <div class="col">
        <h2>Ricerca vendite per codice fiscale</h2>
        <input type="text" name="CodiceFiscale" id="Input1" class="form-control mx-auto mt-3" />
        <button class="btn btn-primary " id="Cerca1">Cerca</button>

        <div class="container">
            <div class="row" id="List1">
            </div>
        </div>
    </div>
</div>
<div class="container d-flex flex-column justify-content-center mx-auto mt-3">
    <h2 class="text-center">Ricerca medicinali</h2>

    <div class="form-group mx-auto">
        @Html.LabelFor(model => model.IdProdotto, "Medicinale", htmlAttributes: new { @class = " control-label col-md-2" })
        <div class=" d-flex  justify-content-center align-items-center">
            @Html.DropDownList("IdProdotti", null, htmlAttributes: new { @class = "", id = "Dropdown" })
            @Html.ValidationMessageFor(model => model.IdProdotto, "", new { @class = "text-danger" })
            <button class="btn btn-primary mx-auto text-center ms-2" id="Cerca2">Cerca</button>
        </div>
    </div>
    
    <div class="container  d-flex flex-column justify-content-center mx-auto mt-3">
        <div class="row" id="List2">
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#Cerca").click(function () {
                var valore = $("#Input").val()
                console.log("val" + valore)
                $.ajax({
                    method: "POST",
                    url: "/RicercaMedicinali/RicercaMedicinaleData",
                    data: { DataVendita: valore },
                    success: function (data) {
                        if (data.length > 0) {

                            $.each(data, function (index, item) {
                                $("#List").append("<li><strong>Nome cliente: </strong> " + item.Nome + "<strong> - Ricetta: </strong> " + item.Ricetta + "</li>")
                            });
                        } else {
                            $("#List").append("<li>Nessuna vendita alla data ricercata</li>")
                        }
                    }
                })

            })

            $("#Cerca1").click(function () {
                var valore = $("#Input1").val()
                $.ajax({
                    method: "POST",
                    url: "RicercaMedicinaleCF",
                    data: { CodiceFiscale: valore },
                    success: function (data) {
                        $("#List1").html("");
                        $.each(data, function (i, v) {
                            console.log("Dati Vendita: " + v.DataAcquisto);
                            var licurrent =
                                "<table class='table table-bordered border-dark bg-body mt-3'> <thead class='bg-info'> <tr> <th scope='col'>IdVisita</th>  <th scope='col'>NumeroRicetta</th><th scope='col'>Data vendita</th></tr></thead> <tbody><tr> " +
                                "<td>" + v.IdVendita + "</td> " +
                                "<td>" + v.NumeroRicetta + "</td> " +
                                "<td>" + v.DataAcquisto + "</td> " +
                                "<td><ul class='DatiVendita'>" + "DATI DI VENDITA...";

                            $.each(v.ProdottiLista, function (i, prodotto) {
                                console.log("Prodotto: " + prodotto.Nome);
                                licurrent += "<li>" + prodotto.Nome + "</li>";
                            });

                            licurrent += "</ul></td></tr></tbody></table>";
                            $("#List1").append(licurrent);
                        });
                    }
                });
            });

            $("#Cerca2").click(function () {
                var valore = $("#Dropdown").val()
                console.log(valore)
                $.ajax({
                    method: "POST",
                    url: "RicercaMedicinaleCasetto",
                    data: { IdProdotti: valore },
                    success: function (data) {
                        $("#List2").html("");
                        console.log(data)

                        if (data.NomeCassetto != null) {
                            var licurrent = "<p class='text-center'>Il medicinale è nel cassetto<strong> " + data.NomeCassetto + "</strong> dentro l'armadietto <strong> " + data.Armadietto + "</strong></p>";
                            $("#List2").html(licurrent);
                        }
                       else {
                            var licurrent = "<p class='text-center'>Il medicinale non è presente in nessun cassetto</p>";
                            $("#List2").html(licurrent);
                        }
                      
                                
                           
                    }

                })

            })
        })
    </script>
}