@{
    ViewBag.Title = "RicercaMedicinale";
}

<h2>RicercaMedicinale</h2>
<input type="date" name="DataVendita" id="Input" class="form-control mt-3" />
<button id="Cerca">Cerca</button>

<div class="container">

    <ul id="List">
    </ul>
</div>
    <div class="row" id="List">

    </div>

</div>

<input type="text" name="CodiceFiscale" id="Input1" class="form-control mt-3" />
<button id="Cerca1">Cerca</button>

<div class="container">

    <div class="row" id="List1">

    </div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#Cerca").click(function () {
                var valore = $("#Input").val()
                console.log("val" + valore)
                $.ajax({
                    method: "POST",
                    url: "/RicercaMedicinali/RicercaMedicinaleData",
                    data: { DataVendita: valore },
                    success: function (data) {
                        $.each(data, function (index, item) {
                            $("#List").append("<li>Nome cliente: " + item.Nome + " - Ricetta: " + item.Ricetta + "</li>")
                        });
                    }
                })

            })


            $("#Cerca1").click(function () {
                var valore = $("#Input1").val()
                console.log(valore)
                $.ajax({
                    method: "POST",
                    url: "RicercaMedicinaleCF",
                    data: { CodiceFiscale: valore },
                    success: function (data) {
                        console.log(data)
                        //$.each(data, function (i, v) {
                        //    var licurrent =
                        //        "<table class='table table-bordered border-dark bg-body mt-3'> <thead> <tr>  <th scope='col'>NumeroRicetta</th><th scope='col'>Data vendita</th></tr></thead> <tbody><tr> " +
                        //        "<td>" + v.NumeroRicetta + "</td> " +
                        //        "<td>" + v.DataVendita + "</td> " +
                        //        "</tr></tbody></table>";
                        //    $("#List1").append(licurrent);
                       // })
                    }

                })

            })
        })
    </script>
}